%chk={{ mol_name }}.chk
%NProcShared={{ job_cores }}
%mem={{ mem_total-1000 }}MB
# {{ method }}/{{ basis_set }} {{ other }}

Single point energy calculation of {{ mol_name }}

{{ charge }} {{ multiplicity }}
{% for coordinate_line in coordinates -%}
{{ coordinate_line }}
{% endfor %}
{{ " " }} {# Make sure the first input ends by a blank line #}
--Link1--
%oldchk={{ mol_name }}.chk
%chk={{ mol_name }}_cation.chk
%NProcShared={{ job_cores }}
%mem={{ mem_total }}MB
# {{ method }}/{{ basis_set }} Opt(MaxCycles=250) Geom=Checkpoint Freq

Geometry Optimization of {{ mol_name }} in cation form

{{ charge_cation }} {{ multiplicity_cation }}
{{ " " }} {# Make sure the input ends by a blank line #}