$molecule
   {{ charge }} {{ multiplicity }}
{% for coordinate_line in coordinates -%}
{{ coordinate_line }}
{% endfor -%}
$end

$rem
   MEM_TOTAL            {{ mem_total }}
   MEM_STATIC           {{ mem_static }}
   JOBTYPE              {{ job_type }}
   EXCHANGE             {{ exchange }}
   BASIS                {{ basis_set }}
   CIS_N_ROOTS          {{ cis_n_roots }}
   SCF_ALGORITHM        {{ scf_algorithm }}
   CIS_SINGLETS         true
   CIS_TRIPLETS         true
   CALC_SOC             true
   STS_MOM              true
   IQMOL_FCHK           true
$end