&GENERAL
  systeme = "{{ source_name }}",
  processus = "{{ processus }}"                ! Nature du processus : [OPC] Contrôle optimal, [OPM] Contrôle a contraintes multiples ; [PCP] Post-contrôle avec pulse [PCL] Post-contrôle libre
/

&OPTIONS                         ! [1] oui [0] non
  op_ch = 2,                     ! Activer l'écriture des champs ([2] à chaque itération)
  op_ver = 0,                    ! Activer les fichiers de vérification
  op_mat = 0,                    ! Activer l'impression des matrices (routine sqrtm) ([2] désactiver le calcul de la fidélité de Uhlmann) 
/

&DATA_FILES
  cheminE = "{{ energies_file_path }}",                 ! Hartree
  cheminMD = "{{ momdip_e_path }}",                     ! Unités atomiques
  eti = "{{ init_file_path }}",
  etf = "{{ final_file_path }}",
  projector = "{{ proj_file_path }}",                  ! A la place d'un état final spécifique
/

&CONTROL
  niter = {{ niter }},                          ! Nombre d'itérations
  seuil = {{ threshold }},                      ! Seuil de recouvrement pour le contrôle
  dt = {{ dt }},                                ! Pas de temps en unités atomiques
  source = "{{ source }}"                       ! Reprise d'un champ (OPC, PCP) ou lecture d'états init (PCL). Res/$système/$operation/...  (PCP: $nomcalcul/Pulse/$nomfichierpulse -- PCL: [H] Psii_RI$n , [L] chif$n !ne pas mettre le $n)
/

&OPC
  nstep = {{ nstep }},                          ! Nombre de pas de temps
  fnelle = "NF",                                  ! Fonctionelle (AF ou NF) pour les cas multicible
  alpha0 = {{ alpha0 }},                        ! Contrainte sur l'amplitude du champ (alpha0, nulle si =1)
  ndump = {{ ndump }}                           ! Nombre d'iterations avant ecriture du champ 
/

&OPM_PULSE
  numericincrements = {{ numericincrements }},         ! Type of shape, to be eventually used later  
  numberofpixels = {{ numberofpixels }},
  inputenergy = {{ inputenergy }},                     ! in microjoule per cm2
  widthhalfmax = {{ widthhalfmax }},                   ! in spectrum, in cm-1
  omegazero = {{ omegazero }}                          ! in spectrum, in cm-1
/

&POST_CONTROL
  ndump2 = {{ ndump2 }},                        ! Nombre de pas avant analyse des populations, phases, positions et energies (suivant nstep*dt)
  sourc3 = "{{ mat_et0_path }}",                ! Matrice changement de base (es --> zos)
  tinit = 20661110.d0                           ! PCL temps initial (phase)
/