&GENERAL
  system_name = "{{ source_name }}",
  process = "{{ process }}"                     ! Nature of the process: [OPC] Optimal control, [OPM] Optimal control with multiple constraints; [PCP] Post-control with pulse [PCL] Free post-control
/

&DATA_FILES
  energies = "{{ energies_file_path }}",        ! Path towards the energies file in Hartree
  dip_mtx = "{{ momdip_e_path }}",              ! Path towards the transition dipole moments matrix file in atomic units
  initial = "{{ init_file_path }}",             ! Path towards the initial state file
  target = "{{ target_file_path }}"             ! Path towards the target state file
/

&CONTROL
  max_iter = {{ max_iter }},                    ! Maximum number of iterations
  thresh = {{ threshold }},                     ! Convergence threshold for the fidelity
  time_step = {{ time_step }},                  ! Duration of a time step (a.u. of time)
  start_pulse = "{{ start_pulse }}"             ! Reuse previous pulse (OPC, PCP) or initial states reading (PCL)
  guess_pulse = "{{ guess_pulse }}"             ! Path towards the guess pulse file
/

{% if process == "OPC" -%}
&OPC
  nb_steps = {{ nb_steps }},                    ! Number of time steps
  alpha = {{ alpha }},                          ! Constraint on the field amplitude
  write_freq = {{ write_freq }}                 ! Number of iterations between each writing of the field
/
{%- endif %}

{% if process == "OPM" -%}
&OPM
  numberofpixels = {{ numberofpixels }},
  inputenergy = {{ inputenergy }},                     ! in microjoule per cm2
  widthhalfmax = {{ widthhalfmax }},                   ! in spectrum, in cm-1
  omegazero = {{ omegazero }}                          ! in spectrum, in cm-1
/
{%- endif %}

{% if process == "PCP" -%}
&POST_CONTROL
  analy_freq = {{ analy_freq }},                ! Number of steps between each analysis of the populations, phases, positions and energies
  conv_mtx = "{{ mat_et0_path }}",              ! Conversion matrix, from eigenstates to zero order states
  init_time = 20661110.d0                       ! PCL temps initial (phase)
/
{% else -%}
&POST_CONTROL
  conv_mtx = "{{ mat_et0_path }}"               ! Conversion matrix, from eigenstates to zero order states
/
{%- endif %}

&OPTIONS
  pulses = 2                     ! Enable writing of the pulses ([2] = every iteration)
/
{{ " " }} {# Make sure the namelist ends by a blank line #}